.about-page{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg, rgba(149,146,146,1) 0%, rgba(247,245,245,1) 100%, rgba(210,19,19,0.9962578781512605) 100%);
    border-top:  3px solid gray;
    padding: 0 0 3rem 3rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 5rem;
    
}
