.product{
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: rgb(99, 100, 118);
    border-radius: 5px;
    box-shadow: -20px 10px 10px;
    gap: 15px;
}

.product .price .product .total{
    display: block;
}

.product img{
    width: 200px;
    height: 200px;
    
}