.prod-cart {
    border: 1px solid #f0f0f0;
    padding: 3px 20px;
    margin-bottom: 15px;
    background-color: #efefef;
    display: flex;
    align-items: center;
}

.prod-cart img {
    flex: 1;
    height: 90px;
}

.prod-cart .info {
    flex: 6;
}

.prod-cart label {
    flex: 1;
}

.prod-cart button {
    flex: 0.5;
}