.product{
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: darkgoldenrod;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(223,223,223);
}

.product .price .product .total{
    display: block;
}

.product img{
    width: 200px;
    height: 200px;
    
}